[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.2"
imbalanced-learn = "==0.12.3"
keras = "==3.3.3"
scikit-learn = "==1.5.0"
tensorflow = "==2.16.1"
google-cloud-storage = "==2.17.0"
kserve = "==0.13.0"
numpy = "==1.26.4"

[dev-packages]

[requires]
python_version = "3.9"
